@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Poppins', sans-serif;
}

.App{
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* .homeContainer */
.homeContainer{
  position: absolute;
  /* border: 2px solid; */
  width: 30%;
  height: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display :flex;
  justify-content: center;
  align-items: center;
  /* background-color:white; */
  /* background-color: rgb(240, 230, 215); */
  background-color: #2a313d;
  box-shadow: 0px 8px 10px -2px rgb(34, 38, 46);
  z-index:100;
  /* transition-delay: 1s; */
  transition: 1s;
  z-index:10;
  
}

/* contentBx */
.homeContainer .contentBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.8s;
  background-color: #2a313d;

}


.homeContainer:hover {
  width:40%;
  height:45%;
}

.homeContainer:hover .contentBx{
  /* top: 40%;
  transform: translateY(-50%); */
  opacity: 0;
  visibility: hidden;
}

.homeContainer h1{
   font-size:225%;
   font-weight:900;
   color: white;
   overflow: hidden; /* Ensures the content is not revealed until the animation */
   border-right: .1em solid whitesmoke; /* The typwriter cursor */
   white-space: nowrap; /* Keeps the content on a single line */
   margin: 0 auto; /* Gives that scrolling effect as the typing happens */
   letter-spacing: .02em; /*Adjust as needed*/
   animation: 
   typing 1.3s steps(14, end),
   blink-caret 1s step-end infinite;
   /* font-family: 'Azeret Mono', monospace; */
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(240, 230, 215)}
}

.homeContainer span{
  color:rgb(240, 230, 215);
  /* font-family: 'Azeret Mono', monospace; */
  /* color: #fdd5af; */
}

/* infoBx*/
.infoBx{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40vw;
    height: 45vh;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display:grid;
    background-color:#2a313d;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-template-rows: 2.5fr 1fr;
    transition:1s;
    opacity:0;
    visibility: visible;
}


.homeContainer:hover .infoBx{
  transition-delay:0.5s;
  opacity:1;
}

.cont {
  position:relative;
  overflow:hidden;
  justify-content: center;
  align-items: center;

  /* border:2px solid red; */
}

#cont1 #pBox{
  position:absolute; 
  top:60%;
  left:59%;
  font-size:90%;
  width:80%;
  /* height:80%; */
  transform:translate(-50%,-50%);
  color:white;


  /* border:1px solid white; */
}

.cont #imgBox{
  position:absolute;
  width:65%;
  height:70%;
  top:59%;
  left:45%;
  transform:translate(-50%,-50%);


  /* border:2px solid blue; */
}

.cont #imgBox #img{
  width:100%;
  height:100%;
  object-fit:contain;
}

#cont3 {
  grid-column-start: 1;
  grid-column-end: 3;
}




.infoBx #cont3{
  /* position:absolute; */
  /* top: 75%; */
  text-align: center;
  font-size: 17.5px;
}

#cont3 a{
  padding: 0px 10px;
  /* color: rgb(240, 230, 215); */
  color:white;
}


.hidden{
  position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  opacity:0;
  visibility:visible;
  transition: 0.8s;
}

#linkedin, #resume, 
#github, #projects{
    font-size:60%;
    font-weight:300;
}

#linkedin-av:hover, #resume-av:hover, 
#github-av:hover, #projects-av:hover {
  /* color:rgb(223, 172, 35); */
  color: rgb(240, 230, 215);
}

#linkedin-av:hover + #linkedin, #resume-av:hover + #resume, 
#github-av:hover + #github, #projects-av:hover + #projects{
  opacity:1;
  visibility:visible;
  /* color:rgb(223, 172, 35); */
  color: rgb(240, 230, 215);
}




#particles-js{
position: absolute;
width: 100%;
height: 100%;
background-color: white;
background-image: url("");
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%;
}






/******* PROJECTS PAGE ********/
.projectsContainer{
  position: absolute;
  /* border: 2px solid; */
  width: 40%;
  height: 45%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display:grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  grid-template-rows: repeat(2,minmax(0,1fr));
  /* grid-template-columns: repeat(2,1fr); */
  /* background-color: rgb(240, 230, 215); */
  /* border: 5px solid #2a313d; */
  background-color: #2a313d;
  box-shadow: 0px 8px 10px -2px rgb(34, 38, 46);
  transition: 1s;
  animation: h-load 1s ease-out;  
  animation-fill-mode: forwards;

  
}

@keyframes h-load{
  0%{
      /* width:30%;
      height: 25%; */
      width: 40%;
  }

  50%{
    width: 45%;
    height:45%;

  }

  100%{

    width: 45%;
    height: 80%;
  }
} 


/* Projects page title */
#prTitle{
  position:absolute;
  width:70%;
  top:20%;
  left:53.5%;
  transform:translate(-50%,-50%);
  /* border: 1px solid red; */
  overflow:hidden;
  display: grid;
  grid-template-columns: 1fr 10fr;
  color: rgb(252, 221, 174);
  font-size:Small;
}

#bkBtn{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  color:rgb(252, 221, 174);
}

#bkBtn:visited{
  text-decoration: none;
}


/* project item container */
.items{
  position: relative;
  /* border: 1px solid red; */
  overflow: hidden;
  /* display:flex;
  justify-content: center;
  align-items: center; */
  /* background-color: rgb(240, 230, 215); */
  /* background-color: #2a313d; */
  /* box-shadow: 0px 8px 10px -2px rgb(34, 38, 46); */
  /* transition: 1s; */
  opacity:0;
  animation: i-load 1s ease-out; 
  animation-delay: 1s; 
  animation-fill-mode: forwards;
}

@keyframes i-load{
  0%{
    opacity:0;
  }

  100%{
    opacity:1;
  }
} 




/* image boxes */
#imageBx1{
  position: absolute;
  width:70%;
  height:55%;
  top:57%;
  left:53.5%;
  transform:translate(-50%,-50%);
  /* border: 1px solid blue; */
  border:3px solid rgb(252, 221, 174);
  background-color: black;
}


#imageBx2{
  position: absolute;
  width:70%;
  height:55%;
  top:57%;
  left: 46.5%;
  transform:translate(-50%,-50%);
  /* border: 1px solid blue; */
  border:3px solid rgb(252, 221, 174);
  background-color: black;
}

#imageBx3{
  position: absolute;
  width:70%;
  height:55%;
  top:35%;
  left: 53.5%;
  transform:translate(-50%,-50%);
  /* border: 1px solid blue; */
  border:3px solid rgb(252, 221, 174);
  background-color: black;
}

#imageBx4{
  position: absolute;
  width:70%;
  height:55%;
  top:35%;
  left:46.5%;
  transform:translate(-50%,-50%);
  /* border: 1px solid blue; */
  border:3px solid rgb(252, 221, 174);
  background-color: black;
}



/* projects names*/
#projectName1,#projectName2{
  position: absolute;
  top:92%;
  left:50%;
  transform:translate(-50%,-50%);
  color:rgb(252, 221, 174);
  font-size:large;
  /* border: 1px solid blue; */
}


#projectName3,#projectName4{
  position: absolute;
  top:70.5%;
  left:50%;
  transform:translate(-50%,-50%);
  color:rgb(252, 221, 174);
  font-size:large;
  /* border: 1px solid blue; */
}

#description1,#description2{
  position: absolute;
  width:100%;
  height:82.5%;
  top:50%;
  left:-100%;
  /* left:42.5%; */
  transform:translate(-50%,-50%);
  /* background-color: black; */
  background-color: rgb(240, 230, 215);
  overflow:hidden;
  padding:20px 15px;
  visibility:none;
  opacity:0;
  visibility:visible;
  opacity:0;
  transition:0.7s;
}

#description3, #description4{
  position: absolute;
  width:100%;
  height:82.5%;
  top:50%;
  left:-100%;
  transform:translate(-50%,-50%);
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  background-color: rgb(240, 230, 215);
  padding:20px 15px;
  overflow:hidden;
  visibility:none;
  opacity:0;
  transition:0.7s;
}




#imageBx1:hover #description1, #imageBx2:hover #description2,
#imageBx3:hover #description3, #imageBx4:hover #description4{
  visibility:visible;
  opacity:1;
  left:42.5%;
  -webkit-font-smoothing: antialiased;
}

#imageBx1:hover #pic1, #imageBx2:hover #pic2, 
#imageBx3:hover #pic3, #imageBx4:hover #pic4{
   opacity:0.4;
}



#icons1, #icons2, #icons3, #icons4{
  text-align: center;
  font-size: 17.5px;
}

.fab{
  padding: 0px 5px;
  /* color: rgb(240, 230, 215); */
  color: #2a313d;
}

.pic{
  width:100%;
  height:100%;
  object-fit: cover;
  transition: 0.8s;
}


.explan{
  /* padding-top: 15px;
  padding-left: 10px; */
  font-size:small;
  /* color:rgb(240, 230, 215); */
  color: #2a313d;
}

.techUsed{
  /* padding-top: 5px;
  padding-left: 10px; */
  padding-top: 5px;
  font-size:small;
  /* color:rgb(240, 230, 215); */
  /* color: #2a313d; */
  color:grey;
}


.gitLink{
  /* color:rgb(240, 230, 215); */
  color: #2a313d;
  font-size:small;
  /* padding-top:20px; */
}

.gitLink:hover{
  /* color:rgb(252, 221, 174); */
  color: #13171d;
}

#link{
  padding-top:8px;
}

#explan3, #gitLink3, #techUsed3{
  font-size:70%
}


/******************** MEDIA QUERIES *******************/


@media (max-width:1100px) and (min-width:601px){
  .homeContainer{
      width:55%;
  }
  .homeContainer h1{
      font-size: 225%;
  }
  .infoBx p{
      font-size: 80%;
  }
  .socials{
      font-size: 14px;
  }
  .homeContainer:hover {
      width:70%;
      height:40%;
   }

  /* .homeContainer:hover #avatar{
      top:37.5%;
      left: 50%;
      transform: translate(-50%, -50%);
      width:50%;
      height:45%;
      transition-delay: 0.2s;
      opacity: 1;
      visibility: visible;
  } */ 

  .projectsContainer{
    grid-template-columns: repeat(1,minmax(0,1fr));
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  @keyframes h-load{
    0%{
        /* width:30%;
        height: 25%; */
      width: 70%;
    }
  
    50%{
      width: 50%;
      height:45%;
  
    }
  
    100%{
      width:50%;
      height: 80%;
    }
  }

  .infoBx{
    width:70vw;
    height:40vh;
  }

  #prTitle{
    width:10%;
    top:20%;
    left:15%;
    font-size:large;
  }
  


  #pgTitle{
    visibility:hidden;
  }
  

  
  #bkBtn:visited{
    text-decoration: none;
  }

  
  

  #imageBx1, #imageBx2, #imageBx3, #imageBx4{
      top:45%;
      left:50%;
      width:50%;
      height:70%;
  }

  #projectName1,#projectName2,#projectName3, #projectName4{
      top:90%;
      font-size:small;
  }

  .explan, .techUsed, .gitLink{
      font-size:xx-small;
  }

  #explan3, #gitLink3, #techUsed3{
    font-size:40%
  }
  #explan4, #gitLink4, #techUsed4{
    font-size:40%;
  }

}


@media (max-width:600px) and (min-width:471px){
  .homeContainer{
      width:75%;
  }
  .homeContainer h1{
      font-size: 225%;
  }
  .infoBx p{
      font-size: 80%;
  }
  .socials{
      font-size: 14px;
  }
  .homeContainer:hover {
      /* transform:scale(1.5) translate(-75%,0%); */
      width:75%;
      /* height:40%; */
  }

  .homeContainer:hover #avatar{
      top:37.5%;
      left: 50%;
      transform: translate(-50%, -50%);
      width:50%;
      height:45%;
      transition-delay: 0.2s;
      opacity: 1;
      visibility: visible;
  }

  .projectsContainer{
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  @keyframes h-load{
    0%{
        /* width:30%;
        height: 25%; */
        width: 40%;
    }
  
    50%{
      width: 45%;
      height:45%;
  
    }
  
    100%{
  
      width: 70%;
      height: 80%;
    }
  }
  
  .infoBx{
    width:75vw;
  }

  #prTitle{
    width:10%;
    top:20%;
    left:10%;
    font-size:Medium;
  }
  


  #pgTitle{
    visibility:hidden;
  }

  #imageBx1, #imageBx2, #imageBx3, #imageBx4{
      top:45%;
      left:50%;
      width:70%;
      height:80%;
  }

  #projectName1,#projectName2,#projectName3, #projectName4{
      top:92%;
      font-size:small;
  }

  .explan, .techUsed, .gitLink{
      font-size:xx-small;
  }

  #explan3, #gitLink3, #techUsed3{
    font-size:55%;
  }

}

@media (max-width:470px) and (min-width:0px){
  .homeContainer{
      width:90%;
  }
  .homeContainer h1{
      font-size: 225%;
  }
  .infoBx p{
      font-size: 80%;
  }
  .socials{
      font-size: 14px;
  }
  .homeContainer:hover {
      /* transform:scale(1.5) translate(-75%,0%); */
      width:90%;
      height:40%;
      /* height:40%; */
  }

  .projectsContainer{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  @keyframes h-load{
    0%{
      width:90%;
      height:40%;
    }
  
    100%{
      width:90%;
      height: 80%;
    }
  }


  .infoBx{
    width:80vw;
    height:40vh;
  }

  #prTitle{
    width:10%;
    top:20%;
    left:10%;
    font-size:Medium;
  }
  


  #pgTitle{
    visibility:hidden;
  }

  #cont1{
    grid-column-start:1;
    grid-column-end:3;
  }

  #cont1 #pBox{
    left:50%;
  }

  #cont2{
    display:none;
  }

  
  #imageBx1, #imageBx2, #imageBx3, #imageBx4{
      top:45%;
      left:50%;
      width:70%;
      height:80%;
  }

  #projectName1,#projectName2,#projectName3, #projectName4{
      top:92%;
      font-size:smaller;
  }

  .explan, .techUsed, .gitLink{
      font-size:xx-small;
  }

  #explan3, #gitLink3, #techUsed3{
    font-size:40%;
  }

  #explan4, #gitLink4, #techUsed4{
    font-size:40%;
  }
  

}
